@model cus3_v2.Models.TPuntaje

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>TPuntaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IpPuntaje" class="control-label"></label>
                <input asp-for="IpPuntaje" class="form-control" />
                <span asp-validation-for="IpPuntaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IpNumeroJurado" class="control-label"></label>
                <input asp-for="IpNumeroJurado" class="form-control" />
                <span asp-validation-for="IpNumeroJurado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkIumtCod" class="control-label"></label>
                <select asp-for="FkIumtCod" class ="form-control" asp-items="ViewBag.FkIumtCod"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
